<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="ruralIvrs">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title ng-bind="title">RuralIVRS - Welcome</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Rural IVRS Web application." />
<meta name="author" content="IIT Bombay" />

<link th:href="@{/static/css/bootstrap.css}" rel="stylesheet" />
<link th:href="@{/static/css/site.css}" rel="stylesheet" />
<link th:href="@{/static/css/bootstrap-responsive.css}" rel="stylesheet" />
<link th:href="@{/static/css/loading-bar.css}" rel="stylesheet" />
<link th:href="@{/static/css/jquery-ui.min.css}" rel="stylesheet" />
<link th:href="@{/static/css/jquery-ui.structure.min.css}"
	rel="stylesheet" />
<link th:href="@{/static/css/jquery-ui.theme.min.css}" rel="stylesheet" />
<link th:href="@{/static/css/ruralivrs.css}" rel="stylesheet" />
</head>
<body>
	<input type="hidden" id="contextRoot" th:value="@{/}">
	<input type="hidden" id="organizationId"
		th:value="${organization.organizationId}">
	<input type="hidden" id="organizationAbbr"
		th:value="${organization.abbreviation}">
	<input type="hidden" id="parentGroupId"
		th:value="${parentGroup.groupId}">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse"
					data-target=".nav-collapse"> <span class="icon-bar"></span> <span
					class="icon-bar"></span> <span class="icon-bar"></span>
				</a> <a id="organization" class="brand" href="#/home"
					th:text="${organization.name}">Organization Name</a>

				<div class="btn-group pull-right">
					<a class="btn" href="#"><i class="icon-user"></i> <span
						sec:authentication="name">Admin</span></a> <a
						class="btn dropdown-toggle" data-toggle="dropdown" href="#"> <span
						class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<!-- <li><a href="#">Profile</a></li> -->
						<li class="divider"></li>
						<li><a th:href="@{/logout}">Logout</a></li>
					</ul>
				</div>
				<div class="nav-collapse">
					<ul class="nav">
						<li><a href="#/home">Home</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Product Details<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#/products">Product List</a></li>
								<li class="divider"></li>
								<li><a href="#/productquantity">Product Quantity</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown">Order Summary<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#/orderSummaryProducts">Product wise</a></li>
								<li class="divider"></li>
								<li><a href="#/orderSummaryGroups">Group wise</a></li>
							</ul></li>
						<li><a href="#/users">Manage Members</a></li>
						<li><a href="#/settings">Settings</a></li>
						<li><a href="#/generateBill">Generate Bill</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span3">
				<div class="row-fluid">
					<div class="span6">
						<label class="receiver">IVRS number</label> <label class="contact"
							th:text="${ivrnumber}">020 30157370</label>
					</div>
					<div class="span6">
						<label class="receiver">SMS number</label> <label class="contact">+91-922 750 7512</label>
					</div>
				</div>
				<div ng-controller="GroupsCtrl">
					<div class="well sidebar-nav" id="groupList">
						<ng-include src="'groupsList'"></ng-include>
					</div>
				</div>
			</div>
			<div class="span9" id="page-content">
				<div ng-view>
					<!-- EVERYTHING GOES HERE -->
				</div>
			</div>
		</div>

		<hr>

		<footer class="well"> &copy; Indian Institute of Technology,
			Bombay </footer>

	</div>



	<div ng-controller="GroupsCtrl">
		<div class="modal fade" id="add-new-group-modal" tabindex="-1"
			role="dialog" aria-labelledby="HeadingAddUser" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">
						<i class="icon-remove"></i>
					</button>
					<h4 class="modal-title custom_align" id="HeadingUser">Add New
						Group</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="control-group">
							<label class="control-label" for="new-group-name-input">Group
								Name</label>
							<div class="controls">
								<input type="text" class="input-xlarge"
									id="new-group-name-input" placeholder="Aundh" />
							</div>
						</div>


						<!-- 
					Group hirarchay
					<div class="control-group">
						<label class="control-label" for="new-group-name-input">Group
							Parent Group</label>
						<div class="controls">
							<select class="input-xlarge" id="new-group-parent-group-input">
								<option th:each="group : ${organization.groups}" th:value="${group.groupId}" th:text="${group.name}">Quantity</option>
							</select>
						</div>
					</div> -->
					</form>
				</div>

			</div>
			<div class="modal-footer ">
				<button type="button" class="btn btn-success" id="add-new-group">
					<i class="icon-white icon-ok"></i> Add
				</button>
				<button type="button" class="btn btn-default" id="cancel-new-group"
					data-dismiss="modal">
					<i class="icon-white icon-remove"></i> Cancel
				</button>
			</div>
		</div>

		<div class="modal fade" id="group-add-failed-modal" tabindex="-2"
			role="dialog" aria-labelledby="HeadingAddFailed" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title custom_align" id="HeadingAddFailed">Failed
							to add group</h4>
					</div>
					<div class="modal-body">
						<b>Technical details:</b><br />
						<div class="alert alert-danger">
							<span class="glyphicon glyphicon-warning-sign"></span>{{failure}}
						</div>
					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							<i class="icon-white icon-remove"></i> OK
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>


		<div class="modal fade" id="group-add-success-modal" tabindex="-2"
			role="dialog" aria-labelledby="HeadingAddSuccess" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						</button>
						<h4 class="modal-title custom_align" id="HeadingAddSuccess">Group
							added</h4>
					</div>
					<div class="modal-body">
						<div class="alert alert-success">
							<span class="glyphicon glyphicon-success-sign"></span>Group <b>{{groupName}}</b>
							successfully added!
						</div>
					</div>
					<div class="modal-footer ">
						<button type="button" class="btn btn-success" data-dismiss="modal">
							<i class="icon-white icon-remove"></i> OK
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
	</div>
	<div class="modal fade" id="group-add-failed-modal" tabindex="-2"
		role="dialog" aria-labelledby="HeadingAddFailed" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
					<h4 class="modal-title custom_align" id="HeadingAddFailed">Failed
						to add group</h4>
				</div>
				<div class="modal-body">
					<b>Technical details:</b><br />
					<div class="alert alert-danger">
						<span class="glyphicon glyphicon-warning-sign"></span>{{failure}}
					</div>
				</div>
				<div class="modal-footer ">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<i class="icon-white icon-remove"></i> OK
					</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>


	<div class="modal fade" id="message-modal" tabindex="-1" role="dialog"
		aria-labelledby="HeadingEdit" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">
					<i class="icon-remove" aria-hidden="true"></i>
				</button>
				<h4 class="modal-title custom_align" id="messageHeading"></h4>
			</div>
			<div class="modal-body">
				<div class="fluid-row" id="messageContent"></div>
				<hr>
			</div>
		</div>
		<div class="modal-footer ">
			<button type="button" class="btn btn-success" data-dismiss="modal">
				<i class="icon-white icon-ok"></i> Ok
			</button>
		</div>
	</div>
	</div>
	<script th:src="@{/static/js/libs/jquery.js}"></script>
	<script th:src="@{/static/js/libs/jquery-ui.min.js}"></script>
	<script th:src="@{/static/js/libs/bootstrap.min.js}"></script>
	<script th:src="@{/static/js/libs/angular.js}"></script>
	<script th:src="@{/static/js/libs/angular-route.js}"></script>
	<script th:src="@{/static/js/libs/angular-resource.js}"></script>
	<script th:src="@{/static/js/libs/loading-bar.min.js}"></script>
	<script th:src="@{/static/js/libs/dirPagination.js}"></script>
	<script th:src="@{/static/js/utility.js}"></script>
	<script th:src="@{/static/js/libs/recorder.js}"></script>
	<script th:src="@{/static/js/recordFile.js}"></script>
	<script th:src="@{/static/js/controllers.js}"></script>
	<script th:src="@{/static/js/resources.js}"></script>
	<script th:src="@{/static/js/groupMember.js}"></script>
	<script th:src="@{/static/js/textMessage.js}"></script>
	<script th:src="@{/static/js/voiceMessage.js}"></script>
	<script th:src="@{/static/js/productList.js}"></script>
	<script th:src="@{/static/js/orderSummaryProducts.js}"></script>
	<script th:src="@{/static/js/orderSummaryGroups.js}"></script>
	<script th:src="@{/static/js/groupSettings.js}"></script>
	<script th:src="@{/static/js/groupOps.js}"></script>
	<script th:src="@{/static/js/manageMembers.js}"></script>
	<script th:src="@{/static/js/settings.js}"></script>
	<script th:src="@{/static/js/broadcastVoice.js}"></script>
	<script th:src="@{/static/js/productQtyList.js}"></script>
	<script th:src="@{/static/js/textBroadcast.js}"></script>
	<script th:src="@{/static/js/broadcastVoiceUrl.js}"></script>
	<script th:src="@{/static/js/broadcastDefaultSettings.js}"></script>
	<script th:src="@{/static/js/manageInboundCalls.js}"></script>
	<script th:src="@{/static/js/manageOutboundCalls.js}"></script>
	<script th:src="@{/static/js/generateBill.js}"></script>
	<script th:src="@{/static/js/home.js}"></script>
</body>
</html>
